<include file="Share/header" />




<div class="am-container">
  	<div class="am-g">
    	<div class="am-u-sm-12">

    		<ol class="am-breadcrumb">
			  <li><a href="#">首页</a></li>
			  <li class="am-active">新闻中心</li>
			</ol>

    	</div>

    	<div class="am-u-sm-3">

    		<ul class="am-nav">
			  <li class="am-active"><a href="#">公司新闻</a></li>
			  <li><a href="#">行业新闻</a></li>
			</ul>

    	</div>

    	<div class="am-u-sm-9">

    		<ul class="am-list">
			  <li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
			  <li><a href="#">我把最深沉的秘密放在那里。</a></li>
			  <li><a href="#">你不懂我，我不怪你。</a></li>
			  <li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
			</ul>

    	</div>
    </div>
</div>

<include file="Share/footer" />
