<include file="Share/header" />

<link rel="stylesheet" href="__PUBLIC__/home/assets/css/news.min.css" />

<!--===========layout-container================-->
<div class="layout-container">
	<div class="page-header">
		<div class="am-container">
			<h1 class="page-header-title">新闻中心</h1>
		</div>
	</div>

	<div class="breadcrumb-box">
		<div class="am-container">
			<ol class="am-breadcrumb">
				<li>
					<a href="/">首页</a>
				</li>
				<li class="am-active">新闻中心</li>
			</ol>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="section--header">
			<h2 class="section--title">Latest News</h2>
			<p class="section--description">
				云适配与中建材信息技术股份有限公司（以下简称“中建信息”）联合举办的“战略
				<br>合作签约仪式暨全国跨屏行动启动大会”在北京成功举办。
			</p>
		</div>

		<div class="news-contaier">
			<div class="blog">
				<div class="am-g">

					<volist name="list" id="vo">
						<div class="am-u-lg-4 am-u-md-6" style="float: left">
							<div class="article">
								<div class="article-header">
									<h2>
										<a href="/Home/News/detail/id/{$vo.id}" rel="">{$vo.title|mb_substr=0,15,'utf-8'}</a>
									</h2>
									<ul class="article--meta">
										<li class="article--meta_item -date">{$vo.create_time}</li>
									</ul>
								</div>
								<div class="article--content">
									<p>{$vo.desc|mb_substr=0,20,'utf-8'}</p>
								</div>
								<div class="article--footer">
									<a href="/Home/News/detail/id/{$vo.id}" class="link">Read More</a>
								</div>
							</div>
						</div>
					</volist>
					

				</div>

				<div class="common-page">
					{$page}
				</div>

			</div>

		</div>
	</div>
</div>

<include file="Share/footer" />