<include file="Share/header" />

<link rel="stylesheet" href="__PUBLIC__/home/assets/css/index.min.css" />

<!--===========layout-container================-->
<div class="layout-container">
	<div class="index-page">
		<div data-am-widget="tabs" class="am-tabs am-tabs-default">
			<div class="am-tabs-bd">
				<div data-tab-panel-0 class="am-tab-panel am-active">
					<div class="index-banner">
						<div class="index-mask">
							<div class="container">
								<div class="am-g">
									<div class="am-u-md-10 am-u-sm-centered">
										<h1 class="slide_simple--title">企业移动化，首选云适配</h1>
										<p class="slide_simple--text am-text-left">
											全球领先的HTML5企业移动化解决方案供应商，安全高效的帮助您的企业移动化。云适配企业浏览器Enterploer,让企业安全迈进移动办公时代！
										</p>
										<div class="slide_simple--buttons">
											<button type="button" class="am-btn am-btn-danger">了解更多</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div data-tab-panel-1 class="am-tab-panel ">
					<div class="index-banner">
						<div class="index-mask">
							<div class="container">
								<div class="am-g">
									<div class="am-u-md-10 am-u-sm-centered">
										<h1 class="slide_simple--title">企业移动化，首选云适配</h1>
										<p class="slide_simple--text am-text-left">
											全球领先的HTML5企业移动化解决方案供应商，安全高效的帮助您的企业移动化。云适配企业浏览器Enterploer,让企业安全迈进移动办公时代！
										</p>
										<div class="slide_simple--buttons">
											<button type="button" class="am-btn am-btn-danger">了解更多</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div data-tab-panel-2 class="am-tab-panel ">
					<div class="index-banner">
						<div class="index-mask">
							<div class="container">
								<div class="am-g">
									<div class="am-u-md-10 am-u-sm-centered">
										<h1 class="slide_simple--title">企业移动化，首选云适配</h1>
										<p class="slide_simple--text am-text-left">
											全球领先的HTML5企业移动化解决方案供应商，安全高效的帮助您的企业移动化。云适配企业浏览器Enterploer,让企业安全迈进移动办公时代！
										</p>
										<div class="slide_simple--buttons">
											<button type="button" class="am-btn am-btn-danger">了解更多</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div data-tab-panel-3 class="am-tab-panel ">
					<div class="index-banner">
						<div class="index-mask">
							<div class="container">
								<div class="am-g">
									<div class="am-u-md-10 am-u-sm-centered">
										<h1 class="slide_simple--title">企业移动化，首选云适配</h1>
										<p class="slide_simple--text am-text-left">
											全球领先的HTML5企业移动化解决方案供应商，安全高效的帮助您的企业移动化。云适配企业浏览器Enterploer,让企业安全迈进移动办公时代！
										</p>
										<div class="slide_simple--buttons">
											<button type="button" class="am-btn am-btn-danger">了解更多</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<ul class="am-tabs-nav am-cf index-tab">
				<li class="am-active">
					<a href="[data-tab-panel-0] am-g">
						<div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
							<i class="am-icon-cog"></i>
						</div>
						<div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
							<strong class="promo_slider_nav--item_title">办公移动化</strong>
							<p class="promo_slider_nav--item_description">Enterplorer 企业浏览器</p>
						</div>
					</a>
				</li>
				<li class="a">
					<a href="[data-tab-panel-1] am-g">
						<div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
							<i class="am-icon-lightbulb-o"></i>
						</div>
						<div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
							<strong class="promo_slider_nav--item_title">网站移动化</strong>
							<p class="promo_slider_nav--item_description">Xcloud 网站跨屏云</p>
						</div>
					</a>
				</li>
				<li class="">
					<a href="[data-tab-panel-2] am-g">
						<div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
							<i class="am-icon-line-chart"></i>
						</div>
						<div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
							<strong class="promo_slider_nav--item_title">HTML5移动开发</strong>
							<p class="promo_slider_nav--item_description">Amaze UI 前端开发框架</p>
						</div>
					</a>
				</li>
				<li class="">
					<a href="[data-tab-panel-3] am-g">
						<div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
							<i class="am-icon-hourglass-end"></i>
						</div>
						<div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
							<strong class="promo_slider_nav--item_title">How We Work</strong>
							<p class="promo_slider_nav--item_description">Lorem ipsum asmo dolor</p>
						</div>
					</a>
				</li>
			</ul>
		</div>

	</div>
</div>


<div class="section">
	<div class="container">
		<div class="section--header">
			<h2 class="section--title">核心优势</h2>
			<p class="section--description">
				全球领先HTML5企业移动化解决方案供应商，由前微软美国总部IE浏览器核心研发团队成员及移动互联网行业专家在美国西雅图创立
				<br>获得了微软创投的扶持以及晨兴资本、IDG资本、天创资本等国际顶级风投机构的投资。
			</p>
		</div>

		<!--index-container start-->
		<div class="index-container">
			<div class="am-g">
				<div class="am-u-md-3">
					<div class="features_item">
						<img src="__PUBLIC__/home/assets/images/index/f01.jpg" alt="">
						<h3 class="features_item--title">简单的适配过程</h3>
						<p class="features_item--text">
							用户可快速学习适配开发，通过丰富的组件库完成页面功能的移动化适配。
						</p>
					</div>
				</div>
				<div class="am-u-md-3">
					<div class="features_item">
						<img src="__PUBLIC__/home/assets/images/index/f02.jpg" alt="">
						<h3 class="features_item--title">丰富移动组件库</h3>
						<p class="features_item--text">
							Enterplorer Studio内置丰富的移动组件，大大提升了开发效率。
						</p>
					</div>
				</div>
				<div class="am-u-md-3">
					<div class="features_item">
						<img src="__PUBLIC__/home/assets/images/index/f03.jpg" alt="">
						<h3 class="features_item--title">可视化界面设计</h3>
						<p class="features_item--text">
							整个适配过程可视化，集成手机模拟器，可以快速的开发调试。
					</div>
				</div>
				<div class="am-u-md-3">
					<div class="features_item">
						<img src="__PUBLIC__/home/assets/images/index/f04.jpg" alt="">
						<h3 class="features_item--title">零秒部署</h3>
						<p class="features_item--text">
							无需部署，实时上传实时呈现，复用现有系统流程及数据
						</p>
					</div>
				</div>
			</div>

			<div class="index-more">
				<button type="button" class="am-btn am-btn-secondary">MORE&nbsp;&nbsp;>></button>
			</div>
		</div>
		<!--index-container end-->
	</div>
</div>

</div>


<div class="section promo_banner-container">
	<!--index-container start-->
	<div class="promo_banner-box">
		<div class="container">
			<h2 class="promo_banner--title">期待您的加入</h2>
			<p class="promo_banner--text">
				我们成立了三年，正用自己的技术力量一步一步改变世界。
				<br> 我们开创了中国首个开源HTML5跨屏前端框架、可见即可得的IDE、无障碍网页我们是全球独一无二的
				<br> 云适配技术，我们的目标是打造极致的网页体验。
				<footer class="promo_banner--footer">
					<button type="button" class="am-btn am-btn-secondary">MORE>></button>
				</footer>
		</div>
	</div>
	<!--index-container end-->
</div>



<!--customer-logo start-->
<div class="customer-logo">
	<div class="container">
		<div class="am-g">
			<div class="am-u-md-2 am-u-sm-4 customer-box">
				<a href="#">
					<img class="normal-logo" src="__PUBLIC__/home/assets/images/index/customer_logo_Microsoft.png" alt="" />
					<img class="am-active" alt="" src="__PUBLIC__/home/assets/images/index/customer_logo_Microsoft_active.png" alt="" />
				</a>
			</div>
			<div class="am-u-md-2 am-u-sm-4 customer-box">
				<a href="#">
					<img class="normal-logo" src="__PUBLIC__/home/assets/images/index/customer_logo_qhdx.png" alt="" />
					<img class="am-active" src="__PUBLIC__/home/assets/images/index/customer_logo_qhdx_active.png" alt="" />
				</a>
			</div>
			<div class="am-u-md-2 am-u-sm-4 customer-box">
				<a href="#">
					<img class="normal-logo" src="__PUBLIC__/home/assets/images/index/customer_logo_gmw.png" alt="" />
					<img class="am-active" src="__PUBLIC__/home/assets/images/index/customer_logo_gmw_active.png" alt="" />
				</a>
			</div>
			<div class="am-u-md-2 am-u-sm-4 customer-box">
				<a href="#">
					<img class="normal-logo" src="__PUBLIC__/home/assets/images/index/customer_logo_gov.png" alt="" />
					<img class="am-active" src="__PUBLIC__/home/assets/images/index/customer_logo_gov_active.png" alt="" />
				</a>
			</div>
			<div class="am-u-md-2 am-u-sm-4 customer-box">
				<a href="#">
					<img class="normal-logo" src="__PUBLIC__/home/assets/images/index/customer_logo_jl.png" alt="" />
					<img class="am-active" src="__PUBLIC__/home/assets/images/index/customer_logo_jl_active.png" alt="" />
				</a>
			</div>
			<div class="am-u-md-2 am-u-sm-4 customer-box">
				<a href="#">
					<img class="normal-logo" src="__PUBLIC__/home/assets/images/index/customer_logo_hx.png" alt="" />
					<img class="am-active" src="__PUBLIC__/home/assets/images/index/customer_logo_hx_active.png" alt="" />
				</a>
			</div>
		</div>
	</div>
</div>
<!--customer-logo end-->

<include file="Share/footer" />