<include file="Share/header" />

<link rel="stylesheet" href="__PUBLIC__/home/assets/css/example.min.css" />

<!--===========layout-container================-->
<div class="layout-container">
	<div class="page-header">
		<div class="am-container">
			<h1 class="page-header-title">客户案例</h1>
		</div>
	</div>

	<div class="breadcrumb-box">
		<div class="am-container">
			<ol class="am-breadcrumb">
				<li>
					<a href="/">首页</a>
				</li>
				<li class="am-active">客户案例</li>
			</ol>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="section--header">
			<h2 class="section--title">全球首创 自主创新</h2>
			<p class="section--description">
				Enterplorer Studio是一套面向企业级移动信息化建设的开发平台。集聚开发、测试、
				<br>打包、发布于一体的移动化开发综合平台。
			</p>
		</div>

		<div class="example-container">
			<div class="am-tabs" data-am-tabs>
				<ul class="am-tabs-nav am-nav am-nav-tabs am-g">
					<li class="am-active am-u-md-2">
						<a href="#tab-4-1">
							<i class="am-icon-map-o"></i>主要案例</a>
					</li>
				</ul>
				<div class="am-tabs-bd am-tabs-bd-ofv">
					<div class="am-tab-panel am-active" id="tab-4-1">
						<div class="am-g">
							<volist name="list" id="vo">
								<div class="am-u-md-3" style="float:left">
									<img src="/Uploads/{$vo.cover}" alt="" style="position: relative;left:0;top:0;transform:none; max-width: 100%; max-height:180px; "><br>
									<a href="#" style="display: block; text-align:center;">{$vo.title}</a>
								</div>
							</volist>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<include file="Share/footer" />