     
    </div>
    </div>

      <script src="__PUBLIC__/admin/assets/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/admin/assets/js/amazeui.datatables.min.js"></script>
    <script src="__PUBLIC__/admin/assets/js/dataTables.responsive.min.js"></script>
    <script src="__PUBLIC__/admin/assets/js/app.js"></script>
    <script src="__PUBLIC__/admin/assets/js/web.js"></script>
    <script src="__PUBLIC__/admin/assets/js/dataTables.bootstrap.js"></script>
    <script src="__PUBLIC__/admin/assets/js/jquery.dataTables.js"></script>

</body>

</html>

