<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ThinkPHP Admin</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="__PUBLIC__/admin/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/admin/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/assets/css/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/assets/css/app.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/kindeditor/themes/default/default.css">
    <script src="__PUBLIC__/admin/kindeditor/kindeditor-all.js"></script>
    <script src="__PUBLIC__/admin/kindeditor/lang/zh-CN.js"></script>
    <script src="__PUBLIC__/admin/assets/js/jquery.min.js"></script>
    <script src="__PUBLIC__/admin/assets/js/theme.js"></script>


</head>

<body data-type="widgets" class="theme-white">

        <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="__PUBLIC__/admin/assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                <!-- 搜索 -->
                <div class="am-fl tpl-header-search">
                    <form class="tpl-header-search-form" action="javascript:;">
                        <button class="tpl-header-search-btn am-icon-search"></button>
                        <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                    </form>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span>{$username}</span> </a>
                        </li>

                        <!-- 新提示 -->
                        <li class="am-dropdown" data-am-dropdown>
                            <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                                <i class="am-icon-bell"></i>
                                <span class="am-badge am-badge-warning am-round item-feed-badge">5</span>
                            </a>

                            <!-- 弹出列表 -->
                            <ul class="am-dropdown-content tpl-dropdown-content">
                                <li class="tpl-dropdown-menu-notifications">
                                    <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                        <div class="tpl-dropdown-menu-notifications-title">
                                            <i class="am-icon-line-chart"></i>
                                            <span> 有6笔新的销售订单</span>
                                        </div>
                                        <div class="tpl-dropdown-menu-notifications-time">
                                            12分钟前
                                        </div>
                                    </a>
                                </li>
                                <li class="tpl-dropdown-menu-notifications">
                                    <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                        <i class="am-icon-bell"></i> 进入列表…
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="javascript:;" class="j-logout">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="__PUBLIC__/admin/assets/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              {$username}
          </span>
                    <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
                </div>
            </div>

            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="/Admin/Index/index" data-href="Index">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/Admin/News/index" data-href="News">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 新闻
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/Admin/Cases/index" data-href="Cases">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 案例
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/Admin/Comments/index" data-href="Comments">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 留言
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/Admin/About/index" data-href="About">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 关于
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/Admin/User/index" data-href="User">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 用户
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/Admin/System/index" data-href="System">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 系统
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/Admin/Custom/index" data-href="Custom">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 自定义标签
                    </a>
                </li>
            </ul>
        </div>

        <script type="text/javascript">
          // 提交
            $('.j-logout').on('click',function(){

                $.ajax({

                    url: '{:U("Admin/Login/logout")}',

                    type:'post',

                    success:function(res) {

                        if(res.status == 1){

                            window.location.href = '/Admin//Login/index';

                        } 

                    }

                });

            })

    </script>
