<!--===========layout-footer================-->
<div class="layout-footer">
  <div class="footer">
    <div style="background-color:#383d61" class="footer--bg"></div>
    <div class="footer--inner">
      <div class="container">
        <div class="footer_main">
          <div class="am-g">
            <div class="am-u-md-3 ">
              <div class="footer_main--column">
                <strong class="footer_main--column_title">关于我们</strong>
                <div class="footer_about">
                  <p class="footer_about--text">
                    云适配(AllMobilize Inc.) 是全球领先的HTML5企业移动化解决方案供应商，由前微软美国总部IE浏览器核心研发团队成员及移动互联网行业专家在美国西雅图创立.
                  </p>
                  <p class="footer_about--text">
                    云适配跨屏云也成功应用于超过30万家企业网站，包括微软、联想等世界500强企业
                  </p>
                </div>
              </div>
            </div>

            <div class="am-u-md-3 ">
              <div class="footer_main--column">
                <strong class="footer_main--column_title">新闻中心</strong>
                <ul class="footer_navigation">
                  <li class="footer_navigation--item">
                    <a href="#" class="footer_navigation--link">Enterplorer 企业浏览器</a>
                  </li>
                  <li class="footer_navigation--item">
                    <a href="#" class="footer_navigation--link">Xcloud 网站跨屏云</a>
                  </li>
                  <li class="footer_navigation--item">
                    <a href="#" class="footer_navigation--link">Amaze UI 前端开发框架</a>
                  </li>
                  <li class="footer_navigation--item">
                    <a href="#" class="footer_navigation--link">Amaze UI 前端开发框架</a>
                  </li>
                  <li class="footer_navigation--item">
                    <a href="#" class="footer_navigation--link">Amaze UI 前端开发框架</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="am-u-md-3 ">
              <div class="footer_main--column">
                <strong class="footer_main--column_title">成功案例</strong>
                <ul class="footer_navigation">
                  <li class="footer_navigation--item">
                    <a href="#" class="footer_navigation--link">企业移动信息化白皮书</a>
                  </li>
                  <li class="footer_navigation--item">
                    <a href="#" class="footer_navigation--link">企业移动信息化白皮书</a>
                  </li>
                  <li class="footer_navigation--item">
                    <a href="#" class="footer_navigation--link">企业移动信息化白皮书</a>
                  </li>
                  <li class="footer_navigation--item">
                    <a href="#" class="footer_navigation--link">企业移动信息化白皮书</a>
                  </li>
                  <li class="footer_navigation--item">
                    <a href="#" class="footer_navigation--link">企业移动信息化白皮书</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="am-u-md-3 ">
              <div class="footer_main--column">
                <strong class="footer_main--column_title">联系详情</strong>
                <ul class="footer_contact_info">
                  <li class="footer_contact_info--item">
                    <i class="am-icon-phone"></i>
                    <span>服务专线：400 069 0309</span>
                  </li>
                  <li class="footer_contact_info--item">
                    <i class="am-icon-envelope-o"></i>
                    <span>yunshipei.com</span>
                  </li>
                  <li class="footer_contact_info--item">
                    <i class="am-icon-map-marker"></i>
                    <span>北京市海淀区海淀大街27号天使大厦（原亿景大厦）三层</span>
                  </li>
                  <li class="footer_contact_info--item">
                    <i class="am-icon-clock-o"></i>
                    <span>Monday - Friday, 9am - 6 pm; </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="__PUBLIC__/home/assets/js/jquery-2.1.0.js" charset="utf-8"></script>
<script src="__PUBLIC__/home/assets/js/amazeui.js" charset="utf-8"></script>
<script src="__PUBLIC__/home/assets/js/common.js" charset="utf-8"></script>
</body>

</html>