<include file="Share/header" />




<div class="am-container">
  	<div class="am-g">
    	<div class="am-u-sm-12">

    		<ol class="am-breadcrumb">
			  <li><a href="#">首页</a></li>
			  <li class="am-active">公司简介</li>
			</ol>

			<div class="index-tpl">
			    
			</div>
			<article class="am-article">
			  <!-- <div class="am-article-hd">
			    <h1 class="am-article-title">永远的蝴蝶</h1>
			    <p class="am-article-meta">陈启佑（台湾）</p>
			  </div> -->

			  <div class="am-article-bd" >
			    <p class="am-article-lead"style="min-height: 400px">
			    	{$about}
			    </p>
			  </div>
			</article>
    	</div>
    </div>
</div>

<include file="Share/footer" />
